* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.hall,
[class^="room"] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 3s ease-in-out;
}

[class^="room"] {
    color: whitesmoke;
}

/* elements */
.hall {
    z-index: 9;
    opacity: 1;
    font-family: cursive;
    background-image: url("images/hall.png");
}

.room1 {
    z-index: 1;
    opacity: 0;
    background-image: url("images/room1.png");
}

.room2 {
    z-index: 2;
    opacity: 0;
    background-image: url("images/room2.png");
}

.room3 {
    z-index: 3;
    opacity: 0;
    background-image: url("images/room3.png");
}

.room4 {
    z-index: 4;
    opacity: 0;
    background-image: url("images/room4.png");
}

.room5 {
    z-index: 5;
    opacity: 0;
}

.room6 {
    z-index: 6;
    opacity: 0;
}

.room7 {
    z-index: 7;
    opacity: 0;
}

.room8 {
    z-index: 8;
    opacity: 0;
}

/* rules */
.rules {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(128, 128, 128, .35);
    border: 1px solid rgba(128, 128, 128, .65);
    border-radius: 10px;
}

.rules:hover {
    cursor: default;
}

.rules h1 {
    text-decoration: underline;
}

.rules h3 {
    margin-top: 4px;
}

.rules ul {
    width: 96.7%;
    height: 100%;
    margin-top: 5px;
    margin-left: 25px;
    overflow: hidden;
    align-self: flex-start;
}

.rules ul:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

.rules ul::-webkit-scrollbar {
    width: 12px;
}

.rules ul::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, .35);
    border-radius: 10px;
}

.rules ul::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .35);
    border-radius: 10px;
}

.rules li {
    list-style: none;
    width: 100%;
    padding-right: 20px;
    font-size: 15px;
}

.rules li::before {
    content: "◈";
    margin-right: 10px;
}

/* hall doors */
[class^=hd] {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.hd1 {
    height: 180px;
    width: 180px;
    top: 40%;
    left: 5%;
    align-items: flex-end;
    rotate: 270deg;
}

.hd2 {
    height: 110px;
    width: 180px;
    top: 0;
    left: 44%;
    align-items: flex-end;
}

.hd3 {
    height: 200px;
    width: 180px;
    top: 40%;
    left: 83%;
    align-items: flex-end;
    rotate: 90deg;
}

.hd4 {
    height: 135px;
    width: 200px;
    top: 80%;
    left: 43%;
    align-items: center;
}

/* cursor */
.hd1,
.rdl2,
.rdl3,
.rd3,
.rdl7 {
    cursor: url("svg/left-arrow.svg"), auto;
}

.hd2,
.rdl1,
.rd2,
.rdl5,
.rd4 {
    cursor: url("svg/up-arrow.svg"), auto;
}

.hd3,
.rd1,
.rdl4,
.rdl6,
.rdl8 {
    cursor: url("svg/right-arrow.svg"), auto;
}

.hd4 {
    cursor: url("svg/down-arrow.svg"), auto;
}

/* lock */
.lock {
    width: 100px;
    height: 100px;
    background: url("svg/lock.svg") center/cover no-repeat;
}

.lock:hover {
    cursor: url("svg/fingerprint.svg"), auto;
}

[id^="rl"] {
    position: absolute;
}

#rl1 {
    top: 45%;
    left: 62%;
}

#rl2 {
    top: 49%;
    left: 11.5%;
    transform: skew(12deg, -20deg);
    rotate: 10deg;
}

#rl3 {
    top: 40%;
    left: 12.5%;
    transform: skew(5deg, -10deg);
    rotate: 4deg;
}

#rl4 {
    top: 42%;
    left: 79%;
    transform: skew(0deg, 20deg);
}

#rl5 {
    top: 41.5%;
    left: 59%;
}

#rl6 {
    top: 42.5%;
    left: 77.5%;
    transform: skew(-2deg, 10deg)
}

#rl7 {
    top: 44%;
    left: 11.5%;
    transform: skew(15deg, -20deg);
    rotate: 15deg;
}

#rl8 {
    top: 46%;
    left: 87%;
    transform: skew(0deg, 5deg);
}

#rl9 {
    top: 49%;
    left: 11.5%;
    transform: skew(12deg, -20deg);
    rotate: 10deg;
}

/* room doors */
[class^=rd] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--white);
    font-size: 40px;
    box-sizing: border-box;
}

.rd1 {
    top: 95px;
    left: 78%;
    width: 125px;
    height: 555px;
    padding-top: 55px;
    transform: skew(0deg, -20deg);
}

.rdl1 {
    top: 26%;
    left: 60%;
    width: 170px;
    height: 355px;
    padding-top: 35px;
}

.rdl2 {
    top: 15%;
    left: 10%;
    width: 140px;
    height: 535px;
    padding-top: 35px;
}

.rd2 {
    top: 100px;
    left: 45%;
    width: 145px;
    height: 373px;
    padding-top: 55px;
    font-family: auto;
}

.rdl3 {
    top: 8%;
    left: 11%;
    width: 165px;
    height: 555px;
    padding-top: 35px;
}

.rdl4 {
    top: 10%;
    left: 75%;
    width: 155px;
    height: 575px;
    padding-top: 35px;
}

.rd3 {
    top: 25px;
    left: 10%;
    width: 155px;
    height: 595px;
    padding-top: 55px;
    transform: skew(-180deg, -160deg);
}

.rdl5 {
    top: 17%;
    left: 55%;
    width: 205px;
    height: 400px;
    padding-top: 35px;
}

.rdl6 {
    top: 6%;
    left: 73%;
    width: 155px;
    height: 525px;
    padding-top: 35px;
}

.rd4 {
    top: 13%;
    left: 60%;
    width: 197px;
    height: 465px;
    padding-top: 35px;
}

.rdl7 {
    top: 7%;
    left: 10%;
    width: 155px;
    height: 595px;
    padding-top: 35px;
}

.rdl8 {
    top: 8%;
    left: 84.5%;
    width: 170px;
    height: 600px;
    padding-top: 35px;
}

/* ques */
[class^="ques"] {
    height: 75vh;
    width: 75vw;
    border: #875b34db 2px solid;
    border-radius: 20px;
    background-color: #6d4a2b;
    position: absolute;
    top: 13%;
    left: 13%;
}

.submit {
    position: relative;
    top: 93%;
    left: 90%;
    height: 25px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35343491;
    border: 1px solid #f5f5f554;
    border-radius: 15px;
    padding: 15px 50px;
}

.submit:hover {
    cursor: pointer;
    transform: scale(1.125);
}

/* misc */
.speaker,
.speaker img {
    position: fixed;
    z-index: 10;
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
}

.speaker:hover {
    cursor: pointer;
}