body {
    margin: 0px;
    padding: 0px;
}

.hall {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    opacity: 100;
    transition: opacity 3s ease-in-out;
    background-image: url('images/hall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room1 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background-image: url('images/room1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room2 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background-image: url('images/room2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room3 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background-image: url('images/room3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room4 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    background-image: url('images/room4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room5 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    /* background-image: url('images/room1.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room6 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    /* background-image: url('images/room1.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room7 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 7;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    /* background-image: url('images/room1.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room8 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    /* background-image: url('images/room1.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rules {
    border: 1px solid yellow;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

.rules h1 {
    font-family: cursive;
    text-decoration: underline;
    margin: 0px;
}

.rules h3 {
    font-family: cursive;
    margin: 0px;
}

.rules li::marker {
    content: "◈";
    font-size: 15px;
    font-family: cursive;
    font-weight: bolder;
}

.rules li {
    list-style: none;
    font-size: 15px;
    font-family: cursive;
    width: 100%;
    margin-right: 10px;
    padding-right: 20px;
    list-style-position: inside;
    box-sizing: border-box;
}

.rules li::before {
    content: " ";
    padding-right: 10px;
}
.rules ul {
    margin: 0px;
    margin-top: 5px;
    padding-left: 25px;
    align-self: flex-start;
    overflow: hidden;
    width: 97%;
    height: 100%;
}
.rules ul:hover {
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
}
.rules ul:hover::-webkit-scrollbar {
    width: 12.5px;
}
.rules ul:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.rules ul:hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.hd1 {
    height: 180px;
    width: 180px;
    position: relative;
    top: 40%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: end;
    rotate: 270deg;
    position: relative;
    font-size: larger;
    font-family: cursive;
    border: 1px solid yellow;
}

.hd1:hover {
    cursor: url('svg/left-arrow.svg'), auto;
}

.hd2 {
    height: 110px;
    width: 180px;
    position: relative;
    top: -25%;
    left: 44%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    font-size: larger;
    font-family: cursive;
    border: 1px solid yellow;
}

.hd2:hover {
    cursor: url('svg/up-arrow.svg'), auto;
}

.hd3 {
    height: 200px;
    width: 180px;
    position: relative;
    top: 0;
    left: 83%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    font-size: larger;
    font-family: cursive;
    rotate: 90deg;
    border: 1px solid yellow;
}

.hd3:hover {
    cursor: url('svg/right-arrow.svg'), auto;
}

.hd4 {
    height: 115px;
    width: 200px;
    position: relative;
    top: 16%;
    left: 43%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    font-size: larger;
    font-family: cursive;
    border: 1px solid yellow;
}

.hd4:hover {
    cursor: url('svg/down-arrow.svg'), auto;
}


.r1d1 {
    border: 1px solid yellow;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0;
}

.r1d1:hover {
    cursor: url('svg/left-arrow.svg'), auto;
}

.r2d1 {
    border: 1px solid yellow;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0;
}

.r2d1:hover {
    cursor: url('svg/left-arrow.svg'), auto;
}

.r3d1 {
    border: 1px solid yellow;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0;
}

.r3d1:hover {
    cursor: url('svg/left-arrow.svg'), auto;
}

.r4d1 {
    border: 1px solid yellow;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0;
}

.r4d1:hover {
    cursor: url('svg/left-arrow.svg'), auto;
}